/* BebasNeue Bold Circe-Bold Circe-ExtraBold Circe-Regular Roboto-Medium*/
body {
  font-family: 'Circe-Regular', sans-serif;
  color: #3a3a3a;
  margin: 0px;
  overflow: hidden;
  user-select: none;
}

.fon {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: #3a3a3a;
}

.fon .photo {
  position: absolute;
  top: 50%;
  /* 
  left: 65%;
   */
  transform: translate(0%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}

.fon .fon-dark {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.fon .hrom {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
}

.fon .logoN {
  position: absolute;
  left: 1.5%;
  top: 2%;
  width: 6%;
  height: auto;
}

.fon .logoK {
  position: absolute;
  right: 1%;
  bottom: 2%;
  width: 10%;
  height: auto;
}


.start-container {
  height: 98vh;
  width: 98vw;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.start-container .header {
  position: absolute;
  width: 33%;
  top: 1%;
  left: 20%;
  text-align: left;
  line-height: 1.2;
  color: #f5f5f5;
  transition: top 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  font-size: 49px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.start-container .header .bebas {
  font-family: 'BebasNeue Bold', sans-serif;
}

.start-container .header .roboto {
  font-family: 'Roboto-Medium', sans-serif;
}

.section {
  width: 8vw;
  height: 70%;
  position: relative;
  left: 1%;
  top: 22%;
  background-color: #f4f4f4;
  border-radius: 0.52vw;
  align-items: flex-start;
  transition: left 0.5s ease-out;
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.3s ease;
}

.section.section-copy {
  position: absolute;
  visibility: visible;
  opacity: 0;
  top: 29vh;
  left: 4vw;
  height: 70vh;
  width: 6vw;
  z-index: 1;
  pointer-events: none;
}

.section .nav-bar {
  height: 100%;
  width: 8vw;
  border-right: 1px solid #c9c9c9;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  z-index: 2;
  position: inherit;
}

.nav-bar .bg-nav {
  background-color: #f4f4f4;
  width: 100%;
  height: 100%;
  position: absolute;
}

.section .nav-icon {
  height: 9vh;
  width: 9vh;
  border-radius: 0.52vw;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.2);
  border: 0.15vw solid #f4f4f4;
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 2;
  color: #7C7C7C;
}

.section .nav-icon-active {
  border: 0.15vw solid #2c5289;
  background: #2c5289;
  color: #f4f4f4;
}

.section .nav-icon:hover {
  border: 0.15vw solid #2c5289;
}

.section .nav-icon img {
  height: 50%;
}

.section .nav-icon object {
  height: 50%;
  transition: all 0.3s ease;
  pointer-events: none;
}

.section .nav-icon span {
  font-size: 1.3ch;
  font-family: 'Circe-ExtraBold', sans-serif;
  margin-top: 5%;
}

.section .info-container {
  position: absolute;
  height: 65.8vh;
  width: 58.6vw;
  padding: 1.4vh;
  overflow: hidden;
  left: 8vw;
  top: 0vh;
  transition: all 0.3s ease;
  z-index: 1;
}

.text-container {
  height: 101%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 1.5vh;
  /* transition: margin-top 0.3s ease; */
}

.text-container .info-header {
  font-size: 3.5ch;
  width: 100%;
  height: 10%;
  text-align: initial;
  font-family: 'Circe-ExtraBold', sans-serif;
  color: #2c5289;
}

.text-container .drop-title {
  font-size: 2.5ch;
  width: 100%;
  height: 10%;
  margin-bottom: 1%;
  text-align: initial;
  font-family: 'Circe-ExtraBold', sans-serif;
  color: #2c5289;
  cursor: pointer;
}

.text-container .drop-title img {
  width: 2vh;
  height: auto;
  transform: rotate(-90deg);
  transition: all 0.3s ease;
  pointer-events: none;
}

.arrow-text-active {
  transform: rotate(0deg) !important;
}

.drop-main .dropdown-container {
  overflow: hidden;
}

.drop-main a {
  /* padding-left: 1vh; */
  /* margin: 0px; */
  font-family: 'Circe-Regular', sans-serif;
  /* text-align: left; */
  color: #3a3a3a;
}

.dropdown-container .dropdown-content {
  margin-top: -1000vh;
  width: 97%;
  font-size: 2ch;
  padding-left: 2.5%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  text-align: initial;
  font-family: 'Circe-Bold', sans-serif;
  transition: margin-top 0.3s ease;
}

.first-drop {
  margin-top: -1000vh !important;
}

.dropdown-content .drop-item {
  width: 97%;
  height: 7.5vh;
  left: 0%;
  position: relative;
  text-align: initial;
  background-color: #f4f4f4;
  border-radius: 0.52vw;
  padding-left: 1%;
  padding-right: 1%;
  margin-bottom: 2vh;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
  border: 0.15vw solid #f4f4f4;
  transition: all 0.3s ease;
  color: #3a3a3a;
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.dropdown-content .drop-item span {
  min-width: 100%;
  transition: all 0.3s ease;
}

.dropdown-content .drop-item:hover {
  border: 0.15vw solid #2c5289;
}

.dropdown-container .simple-text {
  padding-left: 2.5vh;
  margin-top: 0vh;
}

.dropdown-container .simple-text ul {
  padding-left: 1vh;
  margin: 0px;
  font-family: 'Circe-Regular', sans-serif;
  text-align: left;
}

.dropdown-container .simple-text h3 {
  margin: 2vh 0px 0px 0px;
  font-family: 'Circe-Bold', sans-serif;
  font-size: larger;
}

.dropdown-container .simple-text h4 {
  margin: 0;
  font-family: 'Circe-Bold', sans-serif;
  font-size: larger;
}

.drop-item-active {
  background-color: #2c5289 !important;
  border: 0.15vw solid #2c5289 !important;
  color: #f4f4f4 !important;
  width: 80% !important;
  left: 17% !important;
}

.drop-item .drop-span-active {
  min-width: 120% !important;
}

.scroll-container .movable-container {
  top: 0px;
  width: 98%;
  position: relative;
}

.movable-container .drop-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1%;
}

.text-container .scroll-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  max-height: 100%;
}

.scenarion-buttons-container {
  height: 8vh;
  position: absolute;
  background-color: #f4f4f4;
  border-radius: 0.52vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.2);
  visibility: hidden;
}

.scenarion-buttons-container .scenarion-button {
  cursor: pointer;
  padding: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #f4f4f4;
  border: 0.15vw solid #f4f4f4;
  transition: background-color 0.2s ease, border 0.2s ease;
}

.scenarion-buttons-container .border-right {
  border-top-right-radius: 0.52vw;
  border-bottom-right-radius: 0.52vw;
}

.scenarion-buttons-container .border-left {
  border-top-left-radius: 0.52vw;
  border-bottom-left-radius: 0.52vw;
}

.scenarion-buttons-container .scenarion-button:hover {
  border: 0.15vw solid #2c5289;
}

.scenarion-buttons-container .scenarion-button-active {
  background-color: #2c5289;
  border: 0.15vw solid #2c5289;
  color: #f4f4f4;
  cursor: default !important;
}

.scenarion-buttons-container .scenarion-button-active:hover {
  background-color: #2c5289;
}

.scenarion-button object {
  width: 3.6vh;
  pointer-events: none;
  margin-top: 1vh;
}

.scenarion-button span {
  margin-top: 0.3vh;
  font-size: 1.3ch;
  font-family: 'Circe-ExtraBold', sans-serif;
}

.right-border {
  border-right: 1px solid #c9c9c9;
  height: 7vh;
  position: relative;
  top: 0.5vh;
}






.sidebar {
  width: 30%;
  padding: 20px;
}

.content {
  height: 80%;
  padding: 20px;
  border: 1px solid;
  border-color: #a39e9e;
  border-radius: 0.52vw;
  overflow: auto;
}

.scenarios {
  font-size: 18px;
  text-align: left;
}

.scenario-box {
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 0.52vw;
  margin-bottom: 0.52vw;
  text-align: left;
  border-radius: 0.52vw;
  background-color: rgba(255, 255, 255, 0.8);
}

.scenario-box:hover {
  background-color: rgba(106, 212, 132, 0.5);
  transition: background-color 0.3s ease;
}

.scenario-box-clicked {
  cursor: default;
  border: 1px solid #ccc;
  padding: 0.52vw;
  margin-bottom: 0.52vw;
  text-align: left;
  border-radius: 0.52vw;
  background-color: rgba(106, 212, 132, 1);
}

.title-box {
  font-size: 26px;
}

.scenarion-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.learn-button,
.control-button {
  background-color: rgba(0, 123, 255, 0.3);
  color: rgba(240, 240, 240, 0.3);
  padding: 0.52vw 20px;
  cursor: default;
  transition: background-color 0.3s ease;
  margin-left: 50px;
  margin-right: 50px;
  border: 1px solid #ccc;
  border-radius: 0.52vw;
  font-size: 18px;
}

.scenarion-button-active {
  background-color: rgba(0, 123, 255, 0.8);
  color: rgba(240, 240, 240, 0.8);
}

.scenarion-button-active:hover {
  background-color: rgba(0, 123, 255, 1);
  color: rgba(240, 240, 240, 1);
}

.text-box p,
ul {
  text-align: justify;
}

.info-page {
  display: none;
}

.info-page-active {
  display: block;
}

.info-buttons {
  display: flex;
  padding: 20px;
}

.popup-alert {
  position: absolute;
  top: 45%;
  left: 30%;
  width: 40%;
  height: 10%;
  background-color: rgba(241, 92, 92, 1);
  border: 0.15vw solid;
  border-color: #0f0f0f;
  border-radius: 0.52vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}


/*Классы тренажёра*/

.tren-container {
  display: flex;
  /* Сергей */
  visibility: hidden;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #F4F4F4;
  background-repeat: repeat;
  background-size: auto;
  display: flex;
  flex-direction: row;
  pointer-events: none;
}

.model-map-window {
  width: 47%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.model3D-window {
  position: relative;
  width: 100%;
  height: 100%;
  top: -50px;
  left: 0px;
}

/* Окно с тренажером */
.model-window {
  width: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: move;
}

.schema-window {
  visibility: hidden;
  position: absolute;
  top: 150%;
  left: 150%;
}

.scheme-container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  visibility: hidden;
}

.scheme-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  visibility: hidden;
}



/* Окно с 3D */
.game-view {
  width: 97vw;
  height: 100vh;
  position: relative;
  left: 3vw;
}

.game-interface {
  width: 15%;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.2);
}

.model-map-window {
  width: 100%;
  height: 20%;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: rgba(0, 0, 0, 0.2);
}

/* .time {
  width: 100%;
  height: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: rgba(219, 17, 17, 1);
} */

/* .chat {
  width: 100%;
  height: 40%;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: rgb(35, 153, 88);

  padding-top: 5px;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
} */

.ui-buton-block {
  display: flex;
  width: 100%;
  height: 5%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 1%;
  margin-bottom: 1%;
}

.scenario-info {
  width: 32%;
  height: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: rgb(35, 153, 88);
}

.help {
  width: 32%;
  height: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: rgb(35, 153, 88);
}

.guide {
  width: 32%;
  height: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: rgb(35, 153, 88);
}

.exit {
  width: 48%;
  height: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: rgb(35, 153, 88);
}

.restart {
  width: 48%;
  height: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: rgb(35, 153, 88);
}

.spin-loader {
  position: relative;
  left: 47%;
  top: 48%;
  color: #dfdfdf;
  font-size: 24px;
  text-align: center;
  width: 50px;
  height: 50px;
  z-index: 1;
}

.window-loader-3d {
  position: absolute;
  left: 0px;
  top: -38px;
  width: 48px;
  height: 48px;
  border: 3px solid #c5c5c5;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.window-loader-3d::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: #FF3D00;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#S1 {
  position: fixed;
  width: 885px;
  height: 400px;
  top: 400px;
  left: 900px;
}

.message {
  padding: 5px;
  /* border: 1px solid #b2d916; */
  border-radius: 0.52vw;
  margin: 0 50px 20px 20px;
}

.messageMy {
  padding: 5px;
  /* border: 1px solid #b2d916; */
  border-radius: 0.52vw;
  margin: 0 20px 20px 60px;
}



.topMessage {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.authorMessage {
  font-weight: bold;
}

.lineMessage {
  height: 0px;
  border: 1px solid black;
  margin-bottom: 5px;
}

.back-btn {
  position: absolute;
  left: 47vw;
  bottom: 5%;
  width: 5vw;
  height: 3vh;
  visibility: hidden;
}

/* svg схемы 
----------------------------------------------------------------------------------------------------------

*/
.svg-scheme-container object {
  top: 101%;
  left: 101%;
  position: absolute;
  visibility: hidden;
}

.svg-scheme-container img {
  top: 101%;
  left: 101%;
  position: absolute;
  visibility: hidden;
}

.invisible-element-svg {
  position: absolute;
  cursor: pointer;
}

.invisible-element-svg-helper {
  background-color: rgba(255, 0, 0, 0.3);
  font-size: large;
  color: #ff6600;
  font-family: 'Circe-ExtraBold', sans-serif;
}

/* babylon 
----------------------------------------------------------------------------------------------------------

*/
#renderCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
  outline: none;
}

.help-btn-block {
  position: absolute;
  top: 0.52vw;
  left: 100px;
  width: 150px;
  height: 500px;
}

.value-input {
  width: 40px;
}

.help-btn-block .info-tren {
  width: 250px;
  height: 150px;
  /* margin-left: 70px; */
  margin-top: 600px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid black;
  border-radius: 0.52vw;
  color: #f4f4f4;
  line-height: 0.52vw;
  overflow: hidden;
  white-space: nowrap;
}


/* babylon 
-----------------------------------------------------
*/


/* Сергей */

.tests-container {
  /* border: 1px solid black; */
  position: relative;
  width: 100%;
  height: 100%;
}

.tests-selected-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 12vh;
  padding-right: 12vh;
  padding-top: 3vh;
}

.tests-selected-head span {
  font-size: 2.8ch;
  font-family: 'Circe-Regular', sans-serif;
  margin-top: 5%;
  color: #2c5289;
}

.tests-selected-buttons {
  display: flex;
  justify-content: center;
}

.tests-buttons-container {
  /* position: relative; */
  width: 30%;
  padding: 5vh;
  padding-top: 3vh;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
}

.tests-buttons-container span {
  font-size: 1.5ch;
  font-family: 'Circe-Regular', sans-serif;
  text-align: center;
  margin-top: 5%;
  color: #7C7C7C;
}

.tests-button {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  border-radius: 0.52vw;
  background: #f4f4f4;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.2);
  border: 0.15vw solid #f4f4f4;
  transition: all 0.3s ease;
  color: #7C7C7C;
  font-size: 3.2ch;
  font-weight: 700;
  font-family: 'Circe-ExtraBold', sans-serif;
  /* text-align: center; */
}

.tests-button:hover {
  border: 0.15vw solid #2c5289;
  color: #2c5289;
  cursor: pointer;
}

.tests-button span {
  margin-top: 0;
  pointer-events: none;
}

.slider {
  border: 0.15vw solid black;
  overflow: hidden;
}

.slider-line {
  display: flex;
  transition: all 0.5s ease;
}

.tests-container-elem {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.selfcheck-container {
  position: relative;
  width: 99%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}

.selfcheck-title {
  font-size: 2.5ch;
  width: 100%;
  height: 10%;
  margin-bottom: 1%;
  text-align: initial;
  font-family: 'Circe-ExtraBold', sans-serif;
  color: #2c5289;
}

.selfcheck-radio-container {

  display: flex;
  flex-direction: column;
}

.selfcheck-drag-container {
  display: flex;
  flex-direction: column;
}

.radio-title {
  font-size: 2.2ch;
  width: 100%;
  height: 10%;
  margin-bottom: 1%;
  text-align: initial;
  font-family: 'Circe-Bold', sans-serif;
  color: #5e5e5e;
}

.radio-elem {
  display: flex;
  padding: 0.5vh 0 0.5vh;
}

.radio-elem span {
  font-size: 2ch;
  font-family: 'Circe-Bold', sans-serif;
  color: #7C7C7C;
  transition: all 0.3s ease;
  pointer-events: none;
}

.radio-elem:hover {
  cursor: pointer;
}

.radio-elem:hover>div {
  background: #2c5289;
}

.radio-elem:hover>span {
  color: #2c5289;
}

.radio-elem-disabled {
  pointer-events: none;
}

.radio-elem-disabled span {
  background: #f4f4f48e;
  color: #7c7c7c7a;
}

.selfcheck-radio-dragDrop {
  display: flex;
  padding: 0.5vh 0 0.5vh;
  justify-content: space-between;
}

.selfcheck-radio-dragDrop span {
  font-size: 2ch;
  font-family: 'Circe-bold', sans-serif;
  color: #7C7C7C;
  width: 50%;
  pointer-events: none;
}

.selfcheck-dropDown_menu {
  display: flex;
  padding: 0.5vh 0 0.5vh;
  justify-content: left;
  align-items: center;
  max-width: 90%;
}

.selfcheck-dropDown_menu span {
  font-size: 2ch;
  font-family: 'Circe-bold', sans-serif;
  color: #7C7C7C;
  width: auto;
  /* pointer-events: none; */
}

.dropDown-select {
  width: auto;
  height: auto;
  align-items: center;
  border-radius: 5px;
  background: #f4f4f4 !important;
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.2);
  border: 2px solid #f4f4f4;
  transition: all 0.3s ease;
  color: #7C7C7C;
  font-size: 2ch;
  font-weight: 700;
  font-family: 'Circe-Bold', sans-serif;
  padding-left: 1vh;
  padding-right: 1vh;
  z-index: 100;
  max-width: 40vh;
}

.dropDown-select:hover {
  border: 2px solid #2c5289;
  cursor: pointer !important;
}

.dropDown-currect {
  border: 2px solid #68b960 !important;
}

.dropDown-wrong {
  border: 2px solid #ff5353 !important;
}

.drag-drop-elem {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background: #f4f4f4 !important;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.2);
  border: 0.15vw solid #f4f4f4;
  transition: all 0.3s ease;
  color: #7C7C7C;
  font-size: 2.2ch;
  font-weight: 700;
  font-family: 'Circe-Bold', sans-serif;
  padding-left: 1vh;
  padding-right: 1vh;
  z-index: 100;
}

.drag-drop-elem:hover {
  border: 0.15vw solid #2c5289;
  cursor: pointer !important;
}

.drag-drop-elem span {
  color: #7C7C7C !important;
  width: auto;
  white-space: nowrap;
  transition: all 0.3s ease;
  pointer-events: none;
}

.drag-drop-elem>* {
  transition: all 0.3s ease;
}

.current-drag-elem {
  border: 0.15vw solid #2c5289;
}

.current-drag-elem>* {
  pointer-events: none;
}

.current-dragStart-elem {
  opacity: 0.4;
  border: 0.15vw solid #f4f4f4;
}

.current-dragStart-elem>* {
  pointer-events: none;
}

.selfcheck-radio {
  padding: 4px;
  width: 1.6vh;
  height: 1.5vh;
  margin-right: 1vh;
  margin-left: 1vh;
  display: flex;
  position: relative;
  left: 0;
  border-radius: 5px;
  background: #f4f4f4;
  /* border: 4px solid #f4f4f4; */
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.selfcheck-radio div {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-radius: 3px;
  background: white;
  transition: all 0.3s ease;
}

.active-radio div>div {
  background: #2c5289;
}

.active-radio span {
  transition: all 0.3s ease;
  color: #2c5289;
}

.correct-answer div>div {
  background: #68b960;
}

.correct-answer span {
  color: #68b960;
}

.wrong-answer div>div {
  background: #ff5353;
}

.wrong-answer span {
  color: #ff5353;
}

.correct-dragDrop>div {
  border: 0.15vw solid #68b960 !important;
}

.wrong-dragDrop>div {
  border: 0.15vw solid #ff5353 !important;
}

.block-selfcheck-container {
  pointer-events: none;
}


.selfcheck-confirm-button {
  width: 17vh;
  height: auto;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background: #f4f4f4;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.2);
  border: 0.15vw solid #f4f4f4;
  transition: all 0.3s ease;
  color: #7C7C7C;
  font-size: 2.2ch;
  font-weight: 700;
  font-family: 'Circe-Bold', sans-serif;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 0.5vh;
}

.disabled-button {
  pointer-events: none;
  background: #f4f4f48e;
  color: #7c7c7c7a;
}

.active-button:hover {
  border: 0.15vw solid #2c5289;
  color: #2c5289;
  cursor: pointer;
}

.game-menu {
  width: 5.2vw;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
}

.game-menu-top {
  position: relative;
  display: flex;
  top: 0;
}

.game-menu-middle {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-menu-bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  bottom: 0;
}

.selfcheck-invisible {
  display: none;
}

.random-answer-button {
  width: 8vh;
  height: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.52vw;
  background: #f4f4f4;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.2);
  border: 0.15vw solid #f4f4f4;
  transition: all 0.3s ease;
  color: #2c5289;
  padding-top: 1vh;
}

.random-answer-button object {
  height: 65%;
  transition: all 0.3s ease;
  pointer-events: none;
  color: #2c5289;
  bottom: 0;
  right: 0;
  background: #0f0f0f00;
}

.random-answer-button>* {
  pointer-events: none;
}

.random-answer-button:hover {
  border: 0.15vw solid #2c5289;
  cursor: pointer;
}

.random-answer-button span {
  font-size: 1.5ch;
  font-family: 'Circe-ExtraBold', sans-serif;
  color: #7C7C7C;
}

.helper-answer {
  width: 8vh;
  height: 6vh;
  margin-left: 1vh;
  margin-right: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.52vw;
  background: #f4f4f4;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.2);
  border: 0.15vw solid #f4f4f4;
  transition: all 0.3s ease;
  color: #2c5289;
  padding-top: 1vh;
}

.helper-answer object {
  height: 65%;
  transition: all 0.3s ease;
  pointer-events: none;
  color: #2c5289;
  bottom: 0;
  right: 0;
  background: #0f0f0f00;
}

.helper-answer>* {
  pointer-events: none;
}

.helper-answer:hover {
  border: 0.15vw solid #2c5289;
  cursor: pointer;
}

.helper-answer span {
  font-size: 1.5ch;
  font-family: 'Circe-ExtraBold', sans-serif;
  color: #7C7C7C;
}

.helper-tooltip {
  position: absolute;
  display: block;
  opacity: 0;
  width: auto;
  height: auto;
  transition: all 0.5s ease;
  padding: 1vh;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #f4f4f4;
  align-items: center;
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.2);
  border: 0.15vw solid #f4f4f4;
  color: #7C7C7C;
  font-size: 2.2ch;
  font-weight: 700;
  font-family: 'Circe-Bold', sans-serif;
  pointer-events: none;
  overflow: hidden;
}

.helper-tooltip span {
  transition: all 0.3s ease;
  white-space: nowrap;
  color: #7C7C7C;
}

.visible-tiiltip {
  opacity: 1 !important;
  width: auto !important;
}

.answer-button-pressed {
  border: 0.15vw solid #2c5289;
  background: #2c5289;
}

.answer-button-pressed span {
  color: #f4f4f4;
}

/* .answer-button-pressed object {
  background: #2c5289;
} */

.tests-container-bottom {
  padding-right: 2.5vh;
  padding-bottom: 2.5vh;
  display: flex;
  justify-content: space-between;
  height: auto;
}

.container-bottom-left {
  display: flex;
  flex-direction: row;
}

.container-bottom-right {
  display: flex;
  flex-direction: row;
}

.helpBorder {
  border: 1px dotted black;
}


@font-face {
  font-family: 'BebasNeue Bold';
  src: url('fonts/BebasNeue Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: 'Circe-Bold';
  src: url('fonts/Circe-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: 'Circe-ExtraBold';
  src: url('fonts/Circe-ExtraBold.ttf') format('truetype');
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: 'Circe-Regular';
  src: url('fonts/Circe-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}



/* ILAY */
@font-face {
  font-family: 'digital-7';
  src: url('fonts/digital-7.ttf') format('truetype');
  font-weight: 600;
  font-style: bold;
}



.backArea {
  position: absolute;
  width: 102%;
  height: 143%;
  z-index: -1;
  background: rgba(255, 255, 255, 0.8);
}



.box-time {
  width: 18.52vw;
  height: 75px;
  border-radius: 0.52vw;
  position: fixed;
  top: 1500px;
  left: 4500px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  opacity: 0;
  z-index: -1;
  overflow: hidden;
  padding-top: 7px;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
  border: solid 2px rgba(255, 255, 255, 0.8);
}

.box-time .block-button {
  width: 100%;
  height: 104%;
  position: absolute;
  z-index: 6;
  margin-top: -30px;
}

.box-time .backArea {
  margin-top: -40px;
  margin-left: -0.52vw;
}

.time-header {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  height: 35px;
  line-height: 35px;
  font-family: 'Circe-Bold', sans-serif;
  color: #939393;
  margin-top: -35px;
  margin-left: 0.52vw;
  margin-right: 2px;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 3;
}


.time-header-title {
  width: 280px;
  width: 100%;
}


.time-header-display {
  display: flex;
}


.time-header-button {
  font-family: 'Circe-Regular', sans-serif;
  font-size: 26px;
  display: flex;
  align-items: center;
  margin-top: 15px;
  align-items: center;
  cursor: pointer;
}


.time {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 3;
  font-family: 'digital-7', sans-serif;
}


.time-hour,
.time-minute,
.time-second,
.time-oclock {
  width: 70px;
  height: 70px;
  text-align: center;
  background-color: white;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
  color: #5ca695;
  line-height: 70px;
  font-size: 60px;
  border-radius: 0.52vw;
  margin-bottom: 5px;
  font-family: 'digital-7', sans-serif;
  transition: all 0.3s ease;
}

.time-colon {
  color: #939393;
  font-size: 50px;
  margin: 0px -15px 5px -15px;
  font-family: 'digital-7', sans-serif;
}

.time-oclock {
  border: none;
  width: 42px;
  height: 42px;
  color: #5ca695;
  background-image: url('media/images/watch/oclock.png');
  background-size: cover;
  transition: all 0.3s ease;
  cursor: pointer;
}

.time-oclock:hover {
  color: white;
  background-color: #5ca695;
  background-image: url('media/images/watch/oclockhover.png');
}

/* ///  КОНЕЦ ВРЕМЕНИ TIME /// */



/* ТАЙМЕР */
.dialogMessageWatch {
  position: fixed;
  width: 30.52vw;
  height: 275px;
  border-radius: 0.52vw;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  opacity: 0;
  z-index: -1;
  overflow: hidden;
  transition: all 0.3s ease;
  border: solid 2px white;
}


.dialogMessageWatch .time {
  justify-content: space-around !important;
}

.dialogMessageWatch .time-colon {
  font-size: 80px;
  margin: -15px -20px 0px -20px;
}

.dialogMessageWatch button {
  cursor: pointer;
}

.dialogHeader {
  display: flex;
  justify-content: space-between;
  height: 50px;
  font-size: 18px;
  height: 35px;
  line-height: 35px;
  font-family: 'Circe-Bold', sans-serif;
  color: #939393;
  margin-left: 0.52vw;
}

.dialogHeader p {
  font-family: 'Circe-Regular', sans-serif;
  font-size: 26px;
  display: flex;
  align-items: center;
  margin-top: 15px;
  align-items: center;
  cursor: pointer;
  margin-right: 5px;
}

.dialogClosed {
  background-color: white;
  border-radius: 0.52vw;
  font-size: 18px;
  border: none;
  color: #939393;
  height: 20px;
  margin: 5px 8px 0px 0px;
  font-family: 'Circe-Bold', sans-serif;
}

.dialogTimers-line {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  align-items: flex-start;
  max-height: 74px;
  margin-right: 20px;
}

.dialogTimers-line .time {
  display: flex;
  height: auto;
  width: 100%;
  margin: 0;
  justify-content: space-evenly;
  align-items: center;
}

.noneContent::after {
  content: "" !important;
}


.dialogTimers-line .time-hour,
.dialogTimers-line .time .time-minute {
  width: 10.52vw;
  height: 10.52vw;
  line-height: 10.52vw;
  font-size: 85px;
  color: #8b8b8b;
}

.dialogTimers-line .time-hour {
  margin-left: 5px;
}


.dialogTimers-title {
  color: #8b8b8b;
  height: 0.52vw;
  font-size: 15px;
  font-family: 'Circe-Bold', sans-serif;
}

.dialogTimers-hours,
.dialogTimers-minutes {
  width: 96px;
  height: 30px;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 0.52vw;
  color: #8b8b8b;
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border: 0.15vw solid white;
  ;
  position: relative;
  z-index: 5;
}

.dialogTimers-play::selection {
  border: none;
}

.disabled-line .dialogTimers-hours:hover {
  border: 0.15vw solid white;
}

.disabled-line .dialogTimers-play:hover {
  /* border: 0.15vw solid white; */
  background-color: white;
}


.dialogTimers-hours p {
  margin-left: 5px;
  font-family: 'Circe-Bold', sans-serif;
  font-size: 17px;
}

.dialogTimers-hours:hover {
  border: 0.15vw solid #28997d;
}

.section-dropDown {
  background-color: white;
  height: 135px;
  width: 100px;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
  z-index: 4;
  border-radius: 0.52vw;
  padding-top: 0.52vw;
  overflow: hidden;
  position: relative;
  margin-top: -5px;
  padding-bottom: 0.52vw;
  display: none;
}

.section-scroll {
  overflow: auto;
  height: 135px;
  margin-right: 5px;
}

.section-scroll::-webkit-scrollbar {
  width: 8px;
}

.section-scroll::-webkit-scrollbar-thumb {
  background-color: #bebebe;
  width: 2px;
  border-radius: 3px;
}

.section-menu {
  padding: 2px;
}

.section-menu .option {
  border: 0.15vw solid white;
  padding-left: 5px;
  border-radius: 0.52vw;
  padding-right: 20px;
  color: #8b8b8b;
  font-family: 'Circe-Regular', sans-serif;
  height: 15px;
  line-height: 15px;
}

.section-menu .option:hover {
  border: 0.15vw solid #28997d;
}




.textColorGreen {
  color: #5ca695 !important;
}

.visibleDrooDown {
  display: block;
}

.dialogTimers-play {
  border: none;
  width: 30px;
  height: 30px;
  color: #5ca695;
  border-radius: 0.52vw;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
  background-image: url('media/images/watch/play.png');
  background-size: cover;
  margin-top: 42px;
  outline: none;
}

.dialogTimers-play:hover {
  color: white;
  background-color: #5ca695;
  background-image: url('media/images/watch/playhover.png');
}

.disabled-play {
  background-image: url('media/images/watch/playdisable.png') !important;
  color: white;
  background-color: white;
  cursor: default !important;
}

.disabled-line {
  opacity: 0.8;
}


.dialogOK {
  font-size: 18px;
  width: 150px;
  height: 40px;
  margin: 30px auto;
}

/* ///  КОНЕЦ ТАЙМЕР  ///  */

/* ///  ЧАТ /// */
.box-chat-window {
  position: fixed;
  width: 385px;
  height: 475px;
  border-radius: 0.52vw;
  opacity: 0;
  z-index: -1;
  overflow: hidden;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  border: solid 2px rgba(255, 255, 255, 0.8);
}

.box-chat-window-mini {
  height: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  border: solid 2px rgba(255, 255, 255, 0.8);
}

.box-chat-window .block-button {
  z-index: 6;
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top: -40px;
}

.chat-window {
  /* background-color: #898989; */
  height: 100%;
  display: flex;
}

.chat-scroll {
  height: calc(100% - 20px);
  width: 100%;
  margin-right: -26px;
  border-radius: 0.52vw;
  padding: 0.52vw 0px 0.52vw 0px;

  overflow-x: hidden;
}

.chat {
  width: 98%;
  height: calc(100% - 20px);
  border-radius: 0.52vw;
  overflow: auto;
  display: flex;
  /* padding-top: 20px; */
  flex-direction: column-reverse;
  overflow-x: hidden;
}

.chat [mes]:nth-child(1) {
  margin-bottom: 5px;
}





.chat-mini {
  width: 100%;
  overflow: hidden;
  padding-top: 15px;
}

.chat-mini [mes]:nth-child(1) {
  margin: 0px auto 5px auto;
}

.message,
.messageSystem,
.messageMy,
.messageError {
  padding: 5px;
  /* border: 1px solid #ffffff; */
  border-radius: 0.52vw;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
  margin: 5px 50px 20px 20px;
  width: 275px;
  background-color: white;
}

.messageMy {
  margin: 0 15px 20px 50px;
}

.messageError {
  margin: 0px auto 20px auto;
  /* margin: 0px 30px 20px 30px; */
}




.topMessage {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.authorMessage {
  font-size: 20px;
  font-family: 'Circe-Bold', sans-serif;
}

.messageSystem .topMessage {
  color: #374d74;
}

.messageMy .topMessage {
  color: #249c80;
}

.message .topMessage {
  color: #5d5d5d;
}

.messageError .authorMessage {
  width: 100%;
  text-align: center;
  color: #a6686d;
}

.textMessage {
  padding-right: 20px;
  color: #585858;
  font-size: 15px;
  font-family: 'Roboto-Medium', sans-serif;
}

.messageError .textMessage {
  width: 100%;
  text-align: center;
  color: #a6686d;
}

.messageMy .textMessage {
  text-align: right;
  padding-right: 0px;
  padding-left: 20px;
}

.timeMessage {
  font-size: 12px;
  font-family: 'Circe-Bold', sans-serif;
}

.chat::-webkit-scrollbar {
  /* margin-right: 5px; */
  width: 0.52vw;

}

.chat::-webkit-scrollbar-thumb {
  background-color: #bebebe;
  width: 2px;
  border-radius: 3px;
}

.chat::-webkit-scrollbar-thumb:hover {
  background-color: #bbb4b4;

}

.chat::-webkit-scrollbar-track {
  background-color: #e9e9e9;
}



.box-chat-header {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  height: 30px;
  line-height: 30px;
  font-family: 'Circe-Bold', sans-serif;
  color: #939393;
  margin-left: 0.52vw;
  margin-right: 2px;
  opacity: 0;
  z-index: 3;
  transition: all 0.3s ease;
  border: none !important;
}

.chat-header-title {
  width: 280px;
  width: 100%;
}

.chat-header-button {
  font-family: 'Circe-Regular', sans-serif;
  font-size: 26px;
  display: flex;
  align-items: center;
  margin-top: 15px;
  align-items: center;
  cursor: pointer;
  margin-right: 3px;
}

.message {
  padding: 5px;
  /* border: 1px solid #b2d916; */
  border-radius: 0.52vw;
  margin: 0 50px 20px 20px;
}

.messageMy {
  padding: 5px;
  /* border: 1px solid #b2d916; */
  border-radius: 0.52vw;
  margin: 0 20px 20px 60px;
}

.topMessage {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.authorMessage {
  font-weight: bold;
}


.chat-mini>.messageSystem,
.messageError {
  margin: 0px auto 15px auto;
}

.chat-mini>.message {
  margin: 0px auto 12px auto;
}

.chat-mini>.messageMy {
  margin: 0px auto 12px auto;
}

.box-chat-window-mini .box-chat-header {
  margin-bottom: -25px;
}

/* ///  КОНЕЦ ЧАТА /// */
/* /// ПОМОЩЬ /// */
/*ПОМОЩЬ*/
.box-help {
  position: fixed;
  color: #6e6e6e;
  line-height: 30px;
  padding: 0.52vw;
  background-color: rgba(255, 255, 255, 0.8);
  border: 0;
  border-radius: 0.52vw;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
  font-family: 'Circe-Bold', sans-serif;
  transition: all 0.3s ease;
  opacity: 0;
  padding-bottom: 7px;
  /* width: 290px;
  height: 150px;
  border-radius: 0.52vw;
  position: fixed;
  top: 55vh;
  left: 4500px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  opacity: 0;
  z-index: -1;
  overflow: hidden;
  padding-top: 7px;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
  border: solid 2px rgba(255, 255, 255, 0.8); */
}

.box-restart {
  width: 290px;
  height: 150px;
  border-radius: 0.52vw;
  position: fixed;
  top: 55vh;
  left: 4500px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  opacity: 0;
  z-index: -1;
  overflow: hidden;
  padding-top: 7px;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
  border: solid 2px rgba(255, 255, 255, 0.8);
}

.box-exit {
  width: 290px;
  height: 170px;
  border-radius: 0.52vw;
  position: fixed;
  top: 55vh;
  left: 4500px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  opacity: 0;
  z-index: -1;
  overflow: hidden;
  padding-top: 7px;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
  border: solid 2px rgba(255, 255, 255, 0.8);
}

.help-text-block {
  width: 100%;
  height: 100%;
}

.help-text-attention {
  color: #2c5289;
  font-family: 'Circe-Bold', sans-serif;
  text-align: center;
  font-size: 21px;
}

.help-text {
  text-align: center;
  margin-top: 3px;
  font-size: 17px;
  font-family: 'Circe-Regular', sans-serif;
}

.help-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.help-buttons button {
  width: 80px;
  height: 35px;
  text-align: center;
  font-family: 'Circe-Bold', sans-serif;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
  border: 0.15vw solid white;
  background-color: white;
  margin: 0 0.52vw 0 0.52vw;
  font-size: 18px;
  color: #5e5e5e;
  border-radius: 0.52vw;
  cursor: pointer;
}

.help-buttons button:hover {
  border: 0.15vw solid #2c5289;
}


/*ПОМОЩЬ*/

/* СЦЕНАРИИ */
/*////////////////////////////////////////////*/
.box-scenario {
  position: fixed;
  height: 98%;
  width: calc(21vw - 0.52vw);
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0.52vw;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
  padding-left: 0.52vw;
  overflow: hidden;
  /* visibility: hidden; */
  opacity: 0;
  transition: all 0.3s ease;
  z-index: -1;
  border: solid 2px rgba(255, 255, 255, 0.2);
}

.box-scenario-top {
  font-family: 'Circe-Bold', sans-serif;
  font-size: 2.5ch;
  margin-top: 8.5%;
  color: #7C7C7C;
}

/* BebasNeue Bold Circe-Bold Circe-ExtraBold Circe-Regular Roboto-Medium*/

.box-scenario-text {
  padding-bottom: 2%;
  font-family: 'Circe-Bold', sans-serif;
}

.box-scenario-text.current {
  color: #2c5289;
}

.box-scenario-text.passed {
  color: #7C7C7C;
  text-decoration: line-through;
}

.box-scenario-scroll {
  margin-top: 0.52vw;
  margin-right: 0.52vw;
  height: 88%;
  overflow: hidden;
  overflow-y: auto;
}

.box-scenario-list {
  overflow: hidden;
  overflow-x: auto;
}

.box-scenario-scroll::-webkit-scrollbar {
  width: 8px;
}

.box-scenario-scroll::-webkit-scrollbar-thumb {
  background-color: #bebebe;
  width: 2px;
  border-radius: 3px;
}

.box-scenario-item {
  margin-bottom: 0.52vw;
}

.box-scenario-item-past {
  text-decoration: line-through;
  color: #a7a7a7;
}

.box-scenario-item-active {
  color: #2c5289;
  font-weight: bold;
}

/* .box-scenario-item:hover{
  color: #2c5289;
} */
/* СЦЕНАРИИ */




/*  /// Cтраница тренажёра - интерфейс - основная часть ///  */
.tren-ui {
  background-color: rgb(244, 244, 244);
  z-index: 1;
  position: relative;
  height: 99vh;
  overflow: hidden;
  padding: 5px 5px 5px 0.52vw;
  width: 3vw;
  position: fixed;
  transition: all 0.3s ease;
  border-top-right-radius: 0.52vw;
  border-bottom-right-radius: 0.52vw;
}

.tren-ui-long {
  width: 8vw;
}

.box-tren-ui {
  height: 100%;
  background: rgba(244, 244, 244, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.line-tren {
  /* width: 150px; */
  width: 8vw;
  /* height: 60px; */
  height: 6vh;
  display: flex;
  align-items: center;
  /* cursor: pointer; */
}

.button-tren {
  padding: 0;
  margin: 0;
  width: 50px;
  height: 50px;
  min-width: 50px;
  border-radius: 0.52vw;
  outline: none;
  border: 0;
  background-color: white;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  /* svg */
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-tren:hover {
  /* background-color: #1b569b; */
  border: 0.15vw solid #2c5289;
}

.button-tren object {
  pointer-events: none;
}

.button-tren-active {
  background-color: #2c5289;
}

.box-spring-button {
  visibility: hidden;
  height: 10vh;
}

.box-spring-button-chat {
  height: 100vh;
  visibility: hidden;
}

.button-tren object {
  cursor: pointer;
  position: absolute;
}

.button-tren svg {
  cursor: pointer;
}

.text-button-tren {
  margin-left: 0.8vw;
  color: #6e6e6e;
  font-size: 18px;
  font-family: 'Circe-Regular', sans-serif;

}

.click-button-tren {
  position: relative;
  width: 100%;
  height: 100%;
}

.box-collapse {
  position: fixed;
  color: #6e6e6e;
  line-height: 30px;
  padding: 0.52vw;
  background-color: rgba(255, 255, 255, 0.8);
  border: 0;
  border-radius: 0.52vw;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
  font-family: 'Circe-Bold', sans-serif;
  transition: all 0.3s ease;
  opacity: 0;
  padding-bottom: 7px;
}

.box-info {
  position: fixed;
  color: #6e6e6e;
  line-height: 30px;
  padding: 0.52vw;
  background-color: rgba(255, 255, 255, 0.8);
  border: 0;
  border-radius: 0.52vw;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
  font-family: 'Circe-Bold', sans-serif;
  transition: all 0.3s ease;
  opacity: 0;
  padding-bottom: 7px;
}

.notification-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 0.8vw;
  visibility: hidden;
}

.tren-container .concentration {
  position: absolute;
  left: 3vw;
  top: 0;
  width: 97vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.concentration .hole-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  mix-blend-mode: darken;
}

.concentration .line-container {
  width: 100%;
  height: 100%;
}

.hole-container .concentration-hole {
  position: absolute;
  background-color: #FFFFFF;
  border-radius: 0.52vw;
  opacity: 0;
  /* transition: opacity 0.3s ease; */
  transition: width 0.3s ease, height 0.3s ease, left 0.3s ease, top 0.3s ease, opacity 0s ease 0.1s;
}

.line-container .concentration-line {
  position: absolute;
  border-radius: 0.52vw;
  outline: 2px solid #F4F4F4;
  opacity: 0;
  /* transition: opacity 0.3s ease; */
  transition: width 0.3s ease, height 0.3s ease, left 0.3s ease, top 0.3s ease, opacity 0s ease 0.1s;
}

.line-container .concentration-text {
  position: absolute;
  color: #f4f4f4;
  opacity: 0;
  transition: opacity 0.3s ease 0.3s;
}

.pointer-helper-container {
  display: none;
  position: absolute;
  left: 3.8vw;
  top: 80px;
  width: 2.6vw;
  height: 2.6vw;
}

.pointer-helper-container .arrow {
  position: absolute;
  width: 0;
  height: 0;
  top: 1vw;
}

.arrow.arrow-right {
  border-right: .5vw solid #2c5289;
  /* border-right: .5vw solid #f4f4f4; */
  border-bottom: .4vw solid transparent;
  border-top: .4vw solid transparent;
}

.arrow.arrow-left {
  left: 3.2vw;
  border-left: .5vw solid #2c5289;
  /* border-left: .5vw solid #f4f4f4; */
  border-bottom: .4vw solid transparent;
  border-top: .4vw solid transparent;
}

.pointer-helper-container .body-border {
  position: absolute;
  width: 100%;
  height: 100%;
  left: .4vw;
  border-radius: 0.38vw;
  /* border: 0.15vw solid #f4f4f4; */
  border: 0.15vw solid #2c5289;
}

.pointer-helper-container .body {
  position: absolute;
  width: 85%;
  height: 85%;
  left: 0.71vw;
  top: .3vw;
  border-radius: 0.38vw;
  background-color: #f4f4f4;
  animation: scaleAnimationButton 0.6s infinite alternate;
  /* animation: moveAnimationButton .3s infinite alternate; */
}

@keyframes scaleAnimationButton {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.28);
  }
}

@keyframes moveAnimationButton {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-0.28vw);
  }
}

.pointer-helper-container img {
  width: 70%;
  position: absolute;
  left: 0.36vw;
  top: 0.36vw;
}

/*  /// КОНЕЦCтраница тренажёра - интерфейс - основная часть ///  */



.lineMessage {
  height: 0px;
  border: 1px solid black;
  margin-bottom: 5px;
}

.back-btn {
  position: absolute;
  left: 47vw;
  bottom: 5%;
  width: 5vw;
  height: 3vh;
  visibility: hidden;
}



/*  ВСЯЧИНА */
.opacity-0 {
  opacity: 0;
  z-index: -1;
  /* visibility: hidden; */
}

.opacity-08 {
  opacity: 0.8;
}

.opacity-1-Always {
  opacity: 1;
  z-index: 1;
  border: 0.15vw solid rgba(255, 255, 255, 1);
  /* visibility: visible; */
}

.opacity-1-Temp {
  opacity: 1;
  z-index: 1;
  /* visibility: visible; */
}

.transition-0 {
  transition: all 0s ease !important;
}

.time-header-opacity {
  opacity: 1;
  visibility: visible;
}

.visibility-visible {
  visibility: visible;
}

.visibility-hidden {
  visibility: hidden;
}

.z-index-1 {
  z-index: -1 !important;
}

.z-index9 {
  z-index: 9 !important;
}

.display-block {
  display: block;
}

.display-flex {
  display: flex;
}

.display-none {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.border-window {
  border: 0.15vw solid #2c5289;
}

.box-time-padTop32 {
  padding-top: 32px;
}

[disabled] {
  opacity: 0.5;
  cursor: default;
  border: 0.15vw solid white !important;
}

.backArea-white-100 {
  background: rgba(255, 255, 255, 1);
}

/*  ВСЯЧИНА */