body {
  font-family: Arial, sans-serif;
  background-image: url('media/images/DJI_0942_1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0px;
}

.start-container {
  height: 98vh;
  width: 98vw;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: flex-start;
  justify-content: space-around;
  display: flex;
}

.header {
  width: 100%;
  top: 0px;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  transition: top 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.section {
  width: 45%;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  align-items: flex-start;
  position: relative;
  left: 0px;
  height: 80%;
  transition: left 0.5s ease-out;
}

.sidebar {
  width: 30%;
  padding: 20px;
}

.content {
  height: 80%;
  padding: 20px;
  border: 1px solid;
  border-color: #a39e9e;
  border-radius: 10px;
  overflow: auto;
}

.scenarios {
  font-size: 18px;
  text-align: left;
}

.scenario-box {
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.scenario-box:hover {
  background-color: rgba(106, 212, 132, 0.5);
  transition: background-color 0.3s ease;
}

.scenario-box-clicked {
  cursor: default;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
  border-radius: 10px;
  background-color: rgba(106, 212, 132, 1);
}

.title-box {
  font-size: 26px;
}

.scenarion-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.learn-button,
.control-button {
  background-color: rgba(0, 123, 255, 0.3);
  color: rgba(240, 240, 240, 0.3);
  padding: 10px 20px;
  cursor: default;
  transition: background-color 0.3s ease;
  margin-left: 50px;
  margin-right: 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 18px;
}

.scenarion-button-active {
  background-color: rgba(0, 123, 255, 0.8);
  color: rgba(240, 240, 240, 0.8);
}

.scenarion-button-active:hover {
  background-color: rgba(0, 123, 255, 1);
  color: rgba(240, 240, 240, 1);
}

.text-box p,
ul {
  text-align: justify;
}

.info-page {
  display: none;
}

.info-page-active {
  display: block;
}

.info-buttons {
  display: flex;
  padding: 20px;
}

.popup-alert {
  position: absolute;
  top: 45%;
  left: 30%;
  width: 40%;
  height: 10%;
  background-color: rgba(241, 92, 92, 1);
  border: 2px solid;
  border-color: #0f0f0f;
  border-radius: 10px;
  text-align: center;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}


/*Классы тренажёра*/

.tren-container {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #F4F4F4;
  background-image: url('media/images/crest1.png');
  background-repeat: repeat;
  background-size: auto;
  /*  transition: opacity 0.5s ease 0.5s;*/
}

.navigation {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-buttons-window {
  width: 3%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.action-buttons-window button {
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  background-position: center;
}

.model-map-window {
  width: 47%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.model3D-window {
  position: relative;
  width: 100%;
  height: 100%;
  top: -50px;
  left: 0px;
}

.tab-window {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: stretch;
}

.tab-scheme {
  width: 20%;
  cursor: pointer;
}

.tab-scheme-max {
  width: 25%;
  cursor: pointer;
}

/* Окно с тренажером */
.simulator {
  width: 100%;
  height: 79%;
  display: flex;
}

.model-window {
  width: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: move;
}

.schema-window {
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: grab;
}

.scheme-container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  visibility: hidden;
}

.scheme-img {
  position: absolute;
  transform: translate(0, 0);
  pointer-events: none;
}

.scroll-scheme {
  width: 80%;
  height: 20px;
  position: absolute;
  top: 10px;
  margin: 10px auto;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
  border: 1px solid;
  border-color: #a39e9e;
  border-radius: 10px;
  transition: top 0.3s ease;
}

.scroll-scheme .scroll-rect {
  height: 100%;
  background-color: rgba(115, 128, 240, 0.8);
  border-radius: 10px;
  transform: translate(0, 0);
}


/* Окно с информацией */
.info {
  width: 100%;
  height: 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control-window {
  height: 100%;
  width: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.control-window button {
  width: 50%;
}

.action-buttons-window button.call {
  background-image: url('/media/images/icons/call.png');
}

.action-buttons-window button.operation {
  background-image: url('/media/images/icons/operation.png');
}

.message-buttons-window {
  height: 100%;
  width: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.message-buttons-window button {
  width: 100%;
}

.text-window {
  display: flex;
  width: 80%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  justify-content: center;
  align-items: center;
}

.message {
  width: 96%;
  height: 80%;
  border: 1px solid;
  border-color: #a39e9e;
  border-radius: 10px;
  padding-top: 2px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* .window-loader-3d {
  
}

.map-loader-3d {

} */

.spin-loader {
  position: relative;
  left: 47%;
  top: 48%;
  color: #dfdfdf;
  font-size: 24px;
  text-align: center;
  width: 50px;
  height: 50px;
  z-index: 1;
}

.window-loader-3d {
  position: absolute;
  left: 0px;
  top: -38px;
  width: 48px;
  height: 48px;
  border: 3px solid #c5c5c5;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.window-loader-3d::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: #FF3D00;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}